region = "ap-northeast-2"

availability_zone = "ap-northeast-2a"

subnet = ["subnet-1234567890abcde"]

alert_email = "example@mail.com"

default_type   = "t2.micro"
instance_types = ["t2.micro"]

# data_volume_tag = "spot-recovery-test-data"

ecr_repository_url = "123456789.dkr.ecr.ap-northeast-2.amazonaws.com/myapp-image"
